.container {
  display: grid;
  min-height: 50vh;
  place-items: center;
}

.form {
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
    display: flex;
    justify-content: center; 
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 40vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

form label, form input {
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

form h2, form span {
    text-align: center;
}

form button {
    background: #ffb703;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}